@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJiYmI4YmQ5Ni02NzY0LTQxODktYmMxMC1iNWM4Yzg1MzY0YWQifQ.ck5GUuHSj-hoScvfOTeIbtfhb-fvNPAJIk_izJPaJbedtifsFSs_zL_eUp_pQRrL90LGWM5laRQhh7GyVCbF8y8uKVgg87Tt4rzau-hcCIIdfZBhF7U3bw8q3-DjYhXGDIaTXTgmltFxxZRjMpRZ8ExkVu_q_h_W21b_IrZvO2lCcYoWdxZF71jYHYzEP5p_52kXxQFG8MUlai1R2xoSXJURkDqpoo86VDXgUXgfsw378xLUwQHpKyuIZzAzKc7AkXBPJ6sd-ZZUzbGuXrDjDGxUhig-tcnEOMZI8UbJJk1pR0bDgufPz0smeLG1_GK8swFkErHhy8IbFRq2xFNOTA
